
@{
    Layout = null;
}
@model FcMilano.Areas.Admin.Models.MessegerModels
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdIndex</title>
</head>
<body>
    <div> 
        @Model.Welcome 
        <p>@ViewBag.Welcome</p>
    </div>
</body>
</html>
